*.swp
*~
.DS_Store
Thumbs.db

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bbin/
obj/
bin/
AppPackages/
BundleArtifacts/

.vs/
.idea/
.vscode/
*.sln.iml

*.suo
*.user
*.userfile
*.userosscache
*.sln.docstates

*.db
*.db-shm
*.db-wal